 <header id="header">
        <div class="top-bar" id="main_topbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><a ui-sref="home" id="home_link"><span id="">Sunnah Nikaah</span></a></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse " id="main_navbar" role="banner" ng-controller="NavController">
            <div class="container-fluid">



                <div class="collapse navbar-collapse navbar-left">

     <ul class="nav navbar-nav">

                        <li><a href="#/about-us">About Us</a></li>
                        <li><a href="#/services">Services</a></li>
                        <li><a href="#/portfolio">Portfolio</a></li>
                        <li><a href="#/pricing">Pricing</a></li>
                        <li><a href="#/blog">Blog</a></li>

                    </ul>
                </div>





                <div class="collapse navbar-collapse navbar-right">





                    <ul class="nav navbar-nav">

        <li ng-show="auth.isAuthenticated()"><a ui-sref-active="active" ui-sref="myaccount"><i class="fa fa-camera-retro"></i> My Account</a></li>
        <li ng-show="auth.isAuthenticated()"><a ui-sref-active="active" ui-sref="messages"><i class="fa fa-comments-o"></i> Messages</a></li>
        <li ng-show="auth.isAuthenticated()"><a ui-sref-active="active" ui-sref="search"><i class="fa fa-camera-retro"></i> Search</a></li>
        <li ng-hide="auth.isAuthenticated()"><a href="#/login"><i class="fa fa-comments-o"></i> Login</a></li>
        <li ng-hide="auth.isAuthenticated()"><a href="#/register"><i class="fa fa-comments-o"></i> Register</a></li>
        <li ng-show="auth.isAuthenticated()"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

<div ui-view ></div>
