<div class="wrapper">
<div ng-include="" src="'templates/menu.html'"></div>
<div ui-view autoscroll>
    <div style="padding:300px;height:1000px;background:#31353B;text-align:center">
        <i style="font-size:100px;" class="fa fa-refresh fa-spin"></i>

        <h2 style="color:#999"></h1>
            <h1 style="color:#3F5D8C">Amar Taxi</h2>
    </div>
</div>
</div>