<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Amar Taxi</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/bower_components/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Rosario:400,700' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!--Dashboard-->
    <!--<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>-->

    <link href="styles/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link href="dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css"/>
    <!-- iCheck -->
    <link href="plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css"/>
    <!-- Morris chart -->
    <link href="plugins/morris/morris.css" rel="stylesheet" type="text/css"/>
    <!-- jvectormap -->
    <link href="plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>
    <!-- Date Picker -->
    <link href="plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css"/>
    <!-- Daterange picker -->
    <link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css"/>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!--Dashboard End-->


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/AdminLTE.min.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/animate.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/article.css">
    <link rel="stylesheet" href="/styles/hover-min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery.countdown.css">
    <link rel="stylesheet" href="/styles/leaflet.css">
    <link rel="stylesheet" href="/styles/li-scroller.css">
    <link rel="stylesheet" href="/styles/ng-table.min.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/owl.theme.css">
    <link rel="stylesheet" href="/styles/select.min.css">
    <link rel="stylesheet" href="/styles/timeline.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.css"/>
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="/fonts/ultra/stylesheet.css"/>
    <link rel="stylesheet" href="/fonts/Oswald-Bold/stylesheet.css"/>
    <link rel="stylesheet" href="/fonts/Aldrich/stylesheet.css"/>
    <link rel="stylesheet" href="/fonts/quicksand-light/stylesheet.css"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Rosario:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="pushmenu.css" />
</head>
<body>
<%- body %>
</body>
</html>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>


<script src="/bower_components/angular/angular.min.js"></script>

<script src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/ng-csv/build/ng-csv.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>
<script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>

<script src="/vendors/wowjs/wow.min.js"></script>
<script src="/vendors/sails-socket-client/sails.io.js"></script>
<script src="/vendors/leafletjs/angular-leaflet-directive.min.js"></script>
<script src="/vendors/angular-scroll/angular-scroll.min.js"></script>

<script src="/vendors/leafletjs/leaflet.js"></script>
<script src="/vendors/ng-table/ng-table.min.js"></script>
<script src="/vendors/selectjs/select.min.js"></script>
<script src="/vendors/notification-styles/modernizr.custom.js"></script>
<script src="/vendors/notification-styles/notificationFx.js"></script>
<script src="/vendors/notification-styles/snap.svg-min.js"></script>

<!--SCRIPTS-->
<script src="/js/dependencies/device.js"></script>
<script src="/js/dependencies/inewsticker.js"></script>
<script src="/js/dependencies/jquery-migrate-1.js"></script>
<script src="/js/dependencies/jquery.countdown.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/jquery.li-scroller.1.0.js"></script>
<script src="/js/dependencies/modal.js"></script>
<script src="/js/dependencies/news-ticker-horizontal.js"></script>
<script src="/js/dependencies/owl.carousel.min.js"></script>
<script src="/js/dependencies/parallax.min.js"></script>
<script src="/js/dependencies/pushmenu.js"></script>
<script src="/js/dependencies/tmstickup.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/BenefitsDriverController.js"></script>
<script src="/js/controllers/BenefitsOwnerController.js"></script>
<script src="/js/controllers/BenefitsPassengerController.js"></script>
<script src="/js/controllers/MenuController.js"></script>
<script src="/js/controllers/aboutusController.js"></script>
<script src="/js/controllers/adminController.js"></script>
<script src="/js/controllers/adminLoginController.js"></script>
<script src="/js/controllers/adminRegisterController.js"></script>
<script src="/js/controllers/bookingController.js"></script>
<script src="/js/controllers/contactusController.js"></script>
<script src="/js/controllers/dashboardController.js"></script>
<script src="/js/controllers/driverController.js"></script>
<script src="/js/controllers/faqController.js"></script>
<script src="/js/controllers/homeController.js"></script>
<script src="/js/controllers/licenseController.js"></script>
<script src="/js/controllers/passengerController.js"></script>
<script src="/js/controllers/trackingController.js"></script>
<script src="/js/localization/bn_BN.js"></script>
<script src="/js/localization/en_EN.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/services/accessLevels.js"></script>
<script src="/js/services/auth.js"></script>
<script src="/js/services/booking.js"></script>
<script src="/js/services/currentUser.js"></script>
<script src="/js/services/driver.js"></script>
<script src="/js/services/localStorage.js"></script>
<script src="/js/services/passenger.js"></script>
<script src="/js/services/translateProvider.js"></script>
<script src="/js/vendor/xeditable.min.js"></script>
<!--SCRIPTS END-->

<script>
    $(document).ready(function () {
        if ($('html').hasClass('desktop')) {
            new WOW().init();
        }
    });
</script>
<script>
    new WOW().init();
</script>
<script src="/js/dependencies/jquery.countdown.js"></script>

<script src="/js/dependencies/inewsticker.js"></script>

<script src="/js/dependencies/owl.carousel.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<!--<script src="pushmenu.js">-->
<script>

    $(document).scroll(function () {
        if ($(this).scrollTop() > 20) {
            $(".large_menu").addClass('normal_menu');
            //$("#logo_name").show():


        }
        else {
            $(".large_menu").removeClass('normal_menu'); // Add brandnewclass for transition effects while returning back to the previous state.\
            //  $("#logo_name").hide():
        }

    });
</script>

<!--<meta name="viewport" content="width=device-width" />-->

<!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
<!--<link href='http://fonts.googleapis.com/css?family=Rosario:400,700' rel='stylesheet' type='text/css'>-->
<!--<link rel="stylesheet" type="text/css" href="pushmenu.css" />-->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->


<!--<script src="pushmenu.js">-->




<script>

//    jQuery(function(){ // on DOM load
//
//        menu1 = new pushmenu({  // initialize menu example
//            menuid: 'pushmenu1',
//            position: 'left',
//            marginoffset: 0,
//            revealamt: -8,
//            onopenclose:function(state){ // add or remove "open" class to animated drawer button depending on menu state
//                var $buttonref = $('#drawer')
//                if (state == 'open')
//                    $buttonref.addClass('open')
//                else
//                    $buttonref.removeClass('open')
//            }
//        })
//
//    })

</script>
<style>
    #scroll_top {
        background: none repeat scroll 0 0 #4D7886;
        bottom: 200px;
        color: #FFFFFF;
        display: none;
        font-weight: bold;
        opacity: 0.8;
        padding: 15px 20px;
        position: fixed;
        right: 0;
        z-index: 100;
    }
</style>

<a id="scroll_top" href="#top" class="scrollup"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript">
    $(document).ready(function () {


        $(window).scroll(function () {
            if ($(this).scrollTop() > 600) {
                $('#scroll_top').fadeIn();
            } else {
                $('#scroll_top').fadeOut();
            }
        });


        $("a[href='#top']").click(function () {
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        });
//        $.ajax({
//            url: 'plugins/morris/morris.min.js" type="text/javascript',
//            dataType: "text/javascript"
//        });
        //    dashboard code start //
        $.widget.bridge('uibutton', $.ui.button);
        //    dashboard code end //

    });
</script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61182850-1', 'auto');
    // ga('send', 'pageview');

</script>


<!--Dashboard-->


<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
<!-- Morris.js charts -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<!--<script src="plugins/morris/morris.min.js" type="text/javascript"></script>-->
<!--Sparkline-->
<script src="plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
<!--jvectormap-->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/knob/jquery.knob.js" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
<script src="plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- datepicker -->
<script src="plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
<!-- Slimscroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src='plugins/fastclick/fastclick.min.js'></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js" type="text/javascript"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="dist/js/pages/dashboard.js" type="text/javascript"></script>-->

<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js" type="text/javascript"></script>
<!--Dashboard End-->
