<div class="container">

    <div class="row">
        <!--<div class="col-md-4" style="background-color: #FFE441;">-->
        <!--<div>-->
        <!--<h1>BENEFITS</h1>-->
        <!--<h2>for passengers</h2>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-8" style="background-color: #ffffff">-->
        <!--<div >-->
        <!--<span class="hvr-grow" style="position:absolute;left: 166px;top: 144px;border: 20px solid #678B0B;border-radius: 50%;text-align:center;height: 210px;width: 210px;background: #678B0B;">-->
        <!--<h2 style="font-size: 26px;margin-top: 46px;">Dhaka North</h2>-->
        <!--<h3 style="font-size: 13px;margin-top: -1px;"><i class="fa fa-child"></i><i class="fa fa-child" style="padding-right:4px"></i>2,345,374 Voters</h3>-->
        <!--<h4 style="font-size: 13px;margin-top: 0px;"><i class="fa fa-sitemap" style="padding-right:6px;font-size: 14px;"></i>36 Wards</h4>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->

        <img class="img-responsive road-image" src="images/slides/amartaxi-15.jpg">
    </div>
</div>