

<div class="banner-container">
    <div class="container banner">
        <div class="text-center">
            <h1>The Fastest way to book Taxi</h1>

            <h3>Book a taxi in just 2 finger taps</h3>
        </div>
        <div class="clouds-container">

            <div class="clouds">
                <div class="cloud x1"></div>
                <div class="cloud x2"></div>
                <div class="cloud x3"></div>
                <div class="cloud x4"></div>
                <div class="cloud x5"></div>
                <!--
                <img class="img-responsive" src="images/car-1.png">
                <img class="img-responsive" src="images/car-2.png"> -->
            </div>
            <div class="img-buildings">
                <img class="img-responsive" src="images/banner-images-1/buildings.png">
                <img class="img-responsive img-car-1" src="images/banner-images-1/car-1.png">
                <img class="img-responsive img-car-1-2" src="images/banner-images-1/car-1.png">
                <img class="img-responsive img-car-2 mycar" src="images/banner-images-1/car-2.png">
                <img class="img-responsive img-car-3 animated fadeInRightBig"
                     src="images/banner-images-1/mini-taxi.png">
                <img class="img-responsive img-car-4" src="images/banner-images-1/red-car.png">
                <img class="img-responsive img-car-5 mycar" src="images/banner-images-1/yellow-truck.png">
            </div>
        </div>
        <div class="img-hand-section">
            <img class="img-responsive img-hand-tab" src="images/banner-images-1/hand-tab.png">
            <img class="img-responsive img-hand" src="images/banner-images-1/hand-finger.png">
            <img class="img-responsive img-helicopter mychoper" src="images/banner-images-1/helicopter.png">
            <img class="img-responsive img-plane" src="images/banner-images-1/plane.png">
            <img class="img-responsive img-map-marker animated bounce infinite"
                 src="images/banner-images-1/map-marker.png">
        </div>
    </div>
</div>

<div class="banner2-container">
    <div class="container banner2">
        <div class="text-center">
            <h1>Why Choose AmarTaxi over others?</h1>

            <h3>AmarTaxi aims to be the simplest fastest, safest and the most cost effective way of booking in Dhaka.
                Our Features include but not limited to
            </h3>
        </div>


        <div class="road">
            <img class="img-responsive road-image" src="images/banner-images-2/road.png">
            <img class="taxi-down move-down" src="images/banner-images-2/taxi-down.png">
            <img class="taxi-up move-up" src="images/banner-images-2/taxi-up.png">
        </div>

        <div class="left-box">
            <section class="wow slideInLeft" data-wow-offset="10" data-wow-iteration="1">
                <div class="box1"><img src="images/safe.png"><h5>Safe </h5> All riders are tracked and save for over a year</div>
                <div class="box2"><img src="images/monitor.png"><h5>Monitored </h5> All riders are tracked and save for over a year</div>
                <div class="box3"><img src="images/track.png"><h5>Track </h5> Track the movement of your selected taxi</div>
            </section>
        </div>

        <div class="right-box">
            <section class="wow slideInRight" data-wow-offset="10" data-wow-iteration="1">
                <div class="box1"><img src="images/save.png"><h5>Cheap </h5> You can get quotation from many drivers and choose the best rate</div>
                <div class="box2"><img src="images/save.png"><h5>Cheap </h5> You can get quotation from many drivers and choose the best rate</div>
                <div class="box3"><img src="images/save.png"><h5>Cheap </h5> You can get quotation from many drivers and choose the best rate</div>
            </section>
        </div>
    </div>
</div>

<div class="banner3-container">
    <div class="container banner3">
        <div class="text-center">
            <h1>How Does AmarTaxi work?</h1>

            <h3>Amar taxi uses the most simplest and fastest technology stacks to make your taxi booking experience a
                breeze</h3>
        </div>

        <tabset justified="true" class="my-tabset">
            <tab heading="Passenger">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/passenger-login.png">
                        </div>
                        <div class="col-md-4">
                            <div class="color-badge left">1</div>
                            <p class="color-text left">Passenger login</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="color-badge right">2</div>

                            <p class="color-text right">Select pickup point, destination point and ride type</p>
                        </div>
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/passenger-home.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/message-from-passenger.png">
                        </div>
                        <div class="col-md-4">
                            <div class="color-badge left">3</div>
                            <p class="color-text left">Finding driver at nearest point</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="color-badge right">4</div>

                            <p class="color-text right">List of drivers available</p>
                        </div>
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/passenger-message-to-all-driver.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/passenger-driver-go-for-desination.png">
                        </div>
                        <div class="col-md-4">
                            <div class="color-badge left">5</div>
                            <p class="color-text left">Passenger tracking driver and communicating</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="color-badge right">6</div>

                            <p class="color-text right">Passenger reached destination and rate driver</p>
                        </div>
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/rating.png">
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Driver">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/driver-home.png">
                        </div>
                        <div class="col-md-4">
                            <div class="color-badge left">1</div>
                            <p class="color-text left">Driver home</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="color-badge right">2</div>

                            <p class="color-text right">Accept or Decline of passenger booking</p>
                        </div>
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/driver-received-message.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/driver-accepted.png">
                        </div>
                        <div class="col-md-4">
                            <div class="color-badge left">3</div>
                            <p class="color-text left">Driver going to pickup passenger</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="color-badge right">4</div>

                            <p class="color-text right">Reached destination and completed ride</p>
                        </div>
                        <div class="col-md-8" >
                            <img class="img-responsive "  style="width: 100%" src="images/screenshot/ride-complete.png">
                        </div>
                    </div>
                </div>

            </tab>
        </tabset>
    </div>
</div>

<div class="banner4-container">
    <div class="container banner4">
        <div class="banner4-text">
            <h1>Try Us Now</h1>
            <h4>Amar taxi uses the most simplest and fastest technology stacks to make your taxi booking experience a
                breeze</h4>
            <ul>
                <li class=""><a data-ga-track="event" data-ga-category="External link" data-ga-action="Download" href=javascript:; data-ga-opt_label="App Store" class="button appstore" >Download on the App Store</a></li>
                <li class=""><a data-ga-track="event" data-ga-category="External link" data-ga-action="Download" href=javascript:;  data-ga-opt_label="Google Play" class="button googleplay" >Get it on Google Play</a></li>
            </ul>
        </div>

        <div class="banner4-phone ">
            <img class="img-responsive hvr-grow try-us-now-phone-img" src="images/banner-images-3/iphone-tryus.png">
        </div>
    </div>
</div>