<div class="container">
    <div class="section-header">
        <!--<h1 class="section-title " id="contact_us_header" style="font-size: 90px; opacity: 1;"><span id="contact">Licence</span></h1>-->

        <p class="section-description lead"><span id="contact" style="color:#808080; text-shadow: 0 1px 0 #FFFFFF;">License Coming Soon!</span></p>
    </div>
</div>
