<div ng-controller="MenuController" >
     <!--style="margin-bottom: 70px;">-->
    <div class="container phn">CALL: 016-AMAR-TAXI</div>
<nav id="top_navbar" class="hidden-sm hidden-xs container">
    <div class="container-fluid">

        <div>
            <ul class="nav navbar-nav navbar-right list-inline">
                <li><a ui-sref="about_us">About Us</a></li>
                <li><a ui-sref="contact_us">Contact Us</a></li>
                <li  dropdown is-open="status[10].isopen" ng-class="{'menu_active': status[10].isopen, '': !status[10].isopen}">
                    <a  class=" dropdown-toggle" dropdown-toggle ng-disabled="disabled" >
                        Benefits
                    </a>
                    <ul class="dropdown-menu my-dropdown" style="background-color: #dfdfdf; border-color: #dfdfdf"  role="menu">
                        <li><a  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ui-sref="benefits_driver">For Driver</a></li>
                        <li class="divider my-divider"></li>
                        <li><a  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ui-sref="benefits_passenger">For Passenger</a></li>
                        <li class="divider my-divider"></li>
                        <li><a  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ui-sref="benefits_owner">For Owner</a></li>


                    </ul>
                </li>
                <li><a ui-sref="faq">FAQ</a></li>
                <li><a ui-sref="license">License</a></li>

            </ul>
        </div>
    </div>
</nav>


<!-- mobile -->
<!--<head>-->


<!--</head>-->

<!--<div contentwrapper>-->
<!--&lt;!&ndash;-->
<!--<a id="drawer" class="animateddrawer toggleitem" ui-sre" onClick="menu1.toggle(); return false">-->
<!--<span></span>-->
<!--</a> &ndash;&gt;-->

<!--<nav id="pushmenu1" class="pushmenu">-->


    <!--<div class="closebutton fa fa-plus-circle" title="Close Menu"></div>-->

    <!--<ul class="mainnav">-->
        <!--<li><a ui-sref="about_us">About Us</a></li>-->
        <!--<li><a ui-sref="contact_us">Contact Us</a></li>-->
        <!--<li><a ui-sref="faq"></i> FAQ</a></li>-->
        <!--<li><a ui-sref="license"></i>License</a></li>-->

    <!--</ul>-->
    <!--&lt;!&ndash;<ul class="mainnav">&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#/about-us">About Us</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#/contact-us">Contact Us</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#/faq"></i> FAQ</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#/license"></i>License</a></li>&ndash;&gt;-->

    <!--&lt;!&ndash;</ul>&ndash;&gt;-->


<!--</nav>-->
</div>
<div class="body-container" ui-sref="home">
    <div class="container text-center animated zoomInDown">
        <img src="images/banner-images-1/trans-logo.png">

        <h1>Amar Taxi</h1>
    </div>
</div>