<style>
    body {
        background-image: url('../images/admin_login.jpg') ;
        background-repeat: repeat;
        /*background-position: center;*/
    }
</style>
<div class="admin_wrapper">
<div id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <h1 class="text-center"><em>Admin Login</em></h1>
            </div>
                <form class="form col-md-12 center-block">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" ng-model="admin.email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="admin.password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="adminLogin(admin)">Sign In</button><br>
                        <span class="pull-right"><a href="#/register">Register</a></span><span><a href="#">Forget Password?</a></span>
                    </div>
                </form>
            <div class="modal-footer">
                <!--<div class="col-md-12">-->
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</div>