<!--login modal-->
<div id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <h1 class="text-center"><em>Admin Register</em></h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" ng-model="admin.email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" ng-model="admin.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mobile" ng-model="admin.mobile">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="admin.password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="admin.confirmPassword">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="adminRegister(admin)">Register</button>
                        <!--<span class="pull-right"><a href="#">Register</a></span><span><a href="#">Forget Password?</a></span>-->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<div class="col-md-12">-->
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>