
<!--<table ng-table="tableParams" class="table ng-table-responsive">-->
    <!--<tr ng-repeat="driver in bookings">-->
        <!--<td data-title="'Passenger ID'">-->
            <!--<span ng-if="!driver.$edit">{{driver.passenger.name}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.passenger.name" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Is Complete'">-->
            <!--<span ng-if="!driver.$edit">{{driver.is_complete}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.is_complete" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Is Cancelled'">-->
            <!--<span ng-if="!driver.$edit">{{driver.is_cancelled}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.is_cancelled" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Is Active'">-->
            <!--<span ng-if="!driver.$edit">{{driver.Is Active}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.is_active" /></div>-->
        <!--</td>-->
        <!--<td data-title="'PickUp Point Lat'">-->
            <!--<span ng-if="!driver.$edit">{{driver.pickup_point_lat}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.pickup_point_lat" /></div>-->
        <!--</td>-->
        <!--<td data-title="'PickUp Point Longitude'">-->
            <!--<span ng-if="!driver.$edit">{{driver.pickup_point_long}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.pickup_point_long" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Destination Point Lat'">-->
            <!--<span ng-if="!driver.$edit">{{driver.destination_point_lat}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.destination_point_lat" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Destination Point Long'">-->
            <!--<span ng-if="!driver.$edit">{{driver.destination_point_long}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.destination_point_long" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Ride Type'">-->
            <!--<span ng-if="!driver.$edit">{{driver.ride_type}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.ride_type" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Driver ID'">-->
            <!--<span ng-if="!driver.$edit">{{driver.driver.driverId}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.driver.driverId" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Rating'">-->
            <!--<span ng-if="!driver.$edit">{{driver.rating}}</span>-->
            <!--<div ng-if="driver.$edit"><input class="form-control" type="text" ng-model="driver.rating" /></div>-->
        <!--</td>-->
        <!--<td data-title="'Actions'" width="200">-->
            <!--<a ng-if="!driver.$edit" href="" class="btn btn-default btn-xs" ng-click="driver.$edit = true">Edit</a>-->
            <!--<a ng-if="driver.$edit" href="" class="btn btn-primary btn-xs" ng-click="driver.$edit = false">Save</a>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->




<div class="table-responsive booking">
    <table ng-table="" class="ng-table-responsive">
        <thead>
        <tr>
            <th>Passenger ID</th>
            <th>Is Complete</th>
            <th>Is Cancelled</th>
            <th>Is Active</th>
            <th>PickUp Point Lat</th>
            <th>PickUp Point Longitude</th>
            <th>Destination Point Lat</th>
            <th>Destination Point Long</th>
            <th>Ride Type</th>
            <th>Driver ID</th>
            <th>Rating</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="driver in bookings">
            <td>{{driver.passenger.name}}</td>
            <td>{{driver.is_complete}}</td>
            <td>{{driver.is_cancelled}}</td>
            <td>{{driver.is_active}}</td>
            <td>{{driver.pickup_point_lat}}</td>
            <td>{{driver.pickup_point_long}}</td>
            <td>{{driver.destination_point_lat}}</td>
            <td>{{driver.destination_point_long}}</td>
            <td>{{driver.ride_type}}</td>
            <td>{{driver.driver.driverId}}</td>
            <td>{{driver.rating}}</td>
            <td><a ng-click="details()" class="btn btn-info btn-sm">Details</a></td>
            <td><a ng-click="edit()" class="btn btn-warning btn-sm">Edit</a></td>
            <td><a ng-click="delete(driver)" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        </tbody>
    </table>

</div>


