<div>
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:35%">Name</td>
            <td style="width:20%">Email</td>
            <td style="width:20%">Mobile</td>
            <td style="width:25%">Edit Options</td>
        </tr>
        <tr ng-repeat="driver in drivers">
            <td>
                <!-- editable username (text with validation) -->
                <span editable-text="driver.name" e-name="name" e-form="rowform" onaftersave="checkName($data, driver.id)" e-required>
                    {{ driver.name || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-text="driver.email" e-name="name" e-form="rowform" onaftersave="checkName($data, driver.id)" e-required>
                    {{ driver.email || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-text="driver.mobile" e-name="name" e-form="rowform" onaftersave="checkName($data, driver.id)" e-required>
                    {{ driver.mobile || 'empty' }}
                </span>
            </td>
            <!--<td>-->
                <!--<span editable-select="driver.mobile" e-name="mobile" onshow="loadGroups()" e-form="rowform"-->
                      <!--e-ng-options="g.id as g.text for g in mobiles">-->
                  <!--{{ showGroup(driver) }}-->
                <!--</span>-->
            <!--</td>-->
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onaftersave="saveUser($data, driver.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == driver">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                </div>
            </td>
        </tr>
    </table>

    <!--<button class="btn btn-default" ng-click="addUser()">Add row</button>-->
</div>




<!--<div>-->
<!--<table class="table">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Email</th>-->
<!--<th>Name</th>-->
<!--<th>Mobile</th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="driver in drivers">-->
<!--<td>{{driver.email}}</td>-->
<!--<td>{{driver.name}}</td>-->
<!--<td>{{driver.mobile}}</td>-->
<!--<td><a ng-click="details()" class="btn btn-info btn-sm">Details</a></td>-->
<!--<td><a ng-click="edit()" class="btn btn-warning btn-sm">Edit</a></td>-->
<!--<td><a ng-click="delete(driver)" class="btn btn-danger btn-sm">Delete</a></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->