<div>
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Mobile</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="passenger in passengers">
            <td>{{passenger.email}}</td>
            <td>{{passenger.name}}</td>
            <td>{{passenger.mobile}}</td>
            <td><a ng-click="details()" class="btn btn-info btn-sm">Details</a></td>
            <td><a ng-click="edit()" class="btn btn-warning btn-sm">Edit</a></td>
            <td><a ng-click="delete(driver)" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>